# files to ignore when pushing to git

# Ignore bundler config.
/.bundle
/venv

# Ignore all environment files (except templates).
/.env*
!/.env*.erb

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# ignoring all migrations files
src/src/migrations/*
src/speech/migrations/*
src/text/migrations/*
src/static_loc/migrations/*
src/image_gen/migrations/*

src/src/__pycache__/*.cpython-312.pyc
src/speech/__pycache__/*.cpython-312.pyc
src/text/__pycache__/*.cpython-312.pyc
src/static_loc/__pycache__/*.cpython-312.pyc
src/image_gen/__pycache__/*.cpython-312.pyc

src/src/__pycache__/*.cpython-310.pyc
src/speech/__pycache__/*.cpython-310.pyc
src/text/__pycache__/*.cpython-310.pyc
src/static_loc/__pycache__/*.cpython-310.pyc
src/image_gen/__pycache__/*.cpython-310.pyc

src/db.sqlite3

/test audio
test audio/.m4a*

16 Mar, 9.18 pm_.m4aZone.Identifier
screenshot/*.Identifier

src/static_loc/static/js/my-worklet-processor.js
src/static_loc/static/js/main 1_script.js
src/static_loc/static/css/main 1_style.css
src/static_loc/templates/indexmain.html
src/static_loc/templates/main 1_ index.html

src/media/*